:root { /* Custom Properties */
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;

    --fuente-principal: 3.8rem;
}
/* Globales */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */ 
    font-family: 'Krub', sans-serif;
    background: linear-gradient( to top, var(--grisClaro) 0%, var(--blanco) 100%);
    min-height: 100vh;
}
.sombra {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
/* Tipografía */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8;
}

h1, h2, h3 {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 80%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
}

/* Utilidades */

.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}

/* Navegación Principal */
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-hero h2, 
.contenido-hero p {
    color: var(--blanco);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items:    flex-end;
}

/* Mis Servicios */

@media (min-width: 768px) {
    .servicios{
        display: flex;
        padding: 2rem 0;
    }
}
.servicios h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicios p{
    line-height: 2;
}
.servicios section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.servicios-icono {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

/* Contacto */

.contacto {
    margin-top: 1.5rem;
    
}

.contacto-formulario {
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.contacto fieldset {
    border: none;
}

.contacto legend {
    text-align: center;
    color: var(--primario);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }   

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea {
    height: 20rem;
    resize: vertical;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}

.enviar .boton {
    width: 100%;
}

.footer {
    text-align: center;
    padding: 1rem;
}
